* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS' sans-serif;
}
body {
    display: flex;

    justify-content: center;

}

@media screen and (min-width:576px) {
    .a {
        width: 540px;
    }
}
@media screen and (min-width: 768px) {
    .a {
        width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .a {
        width: 960px;
    }
}
@media screen and (min-width: 1200px) {
    .a {
        width: 1140px;
    }
}
@media screen and (min-width: 1400px) {
    .a {
        width: 1320px;
    }
}