* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS' sans-serif;
}
body {
    display: flex;
<<<<<<< HEAD
    flex-direction: column ;
=======
>>>>>>> 70e1c09827851ade5a5d700656b80de0880fee7c
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width:576px) {
    .a {
        width: 540px;
    }
}
@media screen and (min-width: 768px) {
    .a {
        width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .a {
        width: 960px;
    }
}
@media screen and (min-width: 1200px) {
    .a {
        width: 1140px;
    }
}
@media screen and (min-width: 1400px) {
    .a {
        width: 1320px;
    }
<<<<<<< HEAD
}
=======
}



>>>>>>> 70e1c09827851ade5a5d700656b80de0880fee7c
