.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.a{
  display: flex;
  background-color: grey;
  width: 64.5%;
  height: 100%;
  justify-content: center;
  animation-duration: 10s;
  animation-name: c;
  animation-iteration-count: infinite;
  align-items: center;
}
@keyframes c {
  0% {background-color: rgb(233, 22, 22);}
  20% {background-color: rgb(238, 231, 15);}
  40% {background-color: rgb(37, 223, 24);}
  60% {background-color: rgb(30, 100, 221);}
  80% {background-color: rgb(185, 22, 226);}
  100% {background-color: rgb(233, 22, 22);}
} 
.a2{
  color: #efe51d;
    font-size: 500%;
    position: relative;
    margin: 5px;
  }
  .a3{
  color: #09f443;
    font-size: 500%;
    position: relative;
    margin: 5px;
  }
  .a4{
  color: #0a4ae0;
    margin: 5px;
    font-size: 500%;
    position: relative;
  }
  .a5{
  color: #d511e3;
    margin: 5px;
    font-size: 500%;
    position: relative;
  }
  .c1{
      font-size: 200%;
      color: white;
  }
  .dropbtn {
      background-color: #3498DB;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    .dropbtn:hover, .dropbtn:focus {
      background-color: #2980B9;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
      animation-duration: 7s;

    }
    .dropdown-content{
      animation-name: c;
animation-iteration-count: infinite;
transition: 10s;
    }
    @keyframes drop {
      0% {background-color: rgb(233, 22, 22);}
      20% {background-color: rgb(238, 231, 15);}
      40% {background-color: rgb(37, 223, 24);}
      60% {background-color: rgb(30, 100, 221);}
      80% {background-color: rgb(185, 22, 226);}
      100% {background-color: rgb(233, 22, 22);}
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      animation-name: c;
      animation-iteration-count: infinite;
      transition: 10s;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown a:hover {background-color: #ddd;}
    
    .show {display: block;}
    @keyframes shake {
      0% { transform: translate(1px, 1px) rotate(0deg); }
      10% { transform: translate(-1px, -2px) rotate(-1deg); }
      20% { transform: translate(-3px, 0px) rotate(1deg); }
      30% { transform: translate(3px, 2px) rotate(0deg); }
      40% { transform: translate(1px, -1px) rotate(1deg); }
      50% { transform: translate(-1px, 2px) rotate(-1deg); }
      60% { transform: translate(-3px, 1px) rotate(0deg); }
      70% { transform: translate(3px, 1px) rotate(-1deg); }
      80% { transform: translate(-1px, -1px) rotate(1deg); }
      90% { transform: translate(1px, 2px) rotate(0deg); }
      100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
      .dropdown:hover {
          animation: shake 0.5s;
          animation-iteration-count: infinite;
        }
        #img{
          border-radius: 50%;
          width: 100%;
          animation-name: img;
          
animation-duration: 8s;
animation-iteration-count: infinite;
}
#img:hover {
animation: shake 0.5s;
animation-iteration-count: infinite;
}
@keyframes img{
from { transform: rotate(0deg) }
to { transform: rotate(360deg) }
}
.d{
  display: flex;
  background-color: grey;
  width: 64.5%;
  justify-content: center;
  animation-duration: 10s;
  animation-name: c;
  animation-iteration-count: infinite;
  align-items: center;
  flex-direction: column;
}
.d1{
  width: 100%;
  height: 5px;
  animation-duration: 5s;
  animation-name: c;
  animation-iteration-count: infinite;
}
.d2{
  color: #0a4ae0;
  font-size: 300%;
}
.dd{
  color: red;
}
.dt{
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 10%;
  display: flex;
}
.d3{
  display: flex;
  justify-content: space-around;
}
.d4{
  display: flex;
  flex-direction: column;
}
#img1{
  width: 85%;
}
#img2{
  width: 80%;
}
#img3{
  width: 80%;
}
.dd{
  margin: 3%;
}
.d5{
  color: white;
  font-size: 200%;
  margin-top: 10%;
}
.d6{
  color: purple;
  width: 100%;
  font-size: 200%;
}
.e3{
  display: flex;
  flex-direction: column;
}
#img4{
width: 50%;
}
#img5{
width: 70%;   
}
.e4{
  display: flex;
 
  margin-top: 10%;
}
.e6{
 
 
  margin: 10%;
  display: flex;
  justify-content: flex-end;
}
.e5{
  height: 1%;
  border-radius: 10%;
  color: white;
  margin-left: 5%;
  animation-duration: 1s;
  animation-name: c;
  animation-iteration-count: infinite;
}
.e7{
  height: 1%;
  border-radius: 10%;
  margin-right: 10%;
  animation-duration: 1s;
  animation-name: c;
  animation-iteration-count: infinite;
}
.e15{
  color: white;
  font-size: 200%;
}
.e16{
  color: white;
  font-size: 200%;
}
.e2{
  color: #0a4ae0;
}
.e7{
  display: flex;

}