.container {
    background-image: url(https://static.vecteezy.com/system/resources/previews/005/512/804/non_2x/very-cool-abstract-background-suitable-for-wallpaper-and-so-on-free-vector.jpg);
    display: flex;
    flex-direction: column;
}
.first {
    display: flex;
    padding: 50px;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}
.aa > img {
    width: 100%;
    border-radius: 100%;
    box-shadow: 0px 0px 10px 1px blue, 0px 0px 5px 10px rgb(130, 6, 6);
}
.red :last-child {
    width: 40%;
    height: 50px;
}
.container div:first-child {
    color: white;
}
.first > div:first-child {
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
}
ul {
    font-size: 200%;
    color: rgb(112, 168, 168);
}
.one {
    background-color: rgb(130, 6, 6);
    width: 100%;
    height: 100px;
}
.aa {
    display: flex;
}
.back {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: blanchedalmond;
    box-shadow: 0px 0px 20px 5px gray;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.switch {
    background-color: rgb(207, 184, 150);
    width: 20px;
    height: 50px;
    box-shadow: 2px 5px 3px 3px gray;
    border-radius: 2px;    
}
.second {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.hobbies {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: fantasy;
    font-size: 30px;
}
.drawing > img {
    width: 30%;
    border-radius: 10px;
}
.drawing :first-child {
    color: white;
    font-size: 30px;
    font-family:monospace;
}